$colorBlack: #111;
$colorWhite: #fff;
$colorGreyText: #99A6B9;
$colorAqua: #EAF9FC;
$colorBlue: #002051;
$colorLightBlue: #0AAEDD;
$colorRed: #E83850; 
$colorDarkRed: #B70F25; 

$extraSmallFont: 10;
$semiSmall: 14;
$smallFont: 16;
$mediumFont: 24;
$largeFont: 32;

$extraSmallLine: 12.19;
$smallLine: 19.5;
$mediumLine: 22.4;
$largeLine: 29.26;
$extraLargeLine: 39.01;

